<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyLogin_028.Properties.Settings.MyPracticeConnectionString"
            connectionString="Data Source=LAPTOP-VVM3TL0C\MSSQLSERVER01;Initial Catalog=MyPractice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>